<div>
  <p>
  <%= event.user.display_name %>
  <span>Deleted</span>
  :
  <%= render "events/links/#{event.target_type.downcase}", event: event %>
  </p>
  <p>
    <%= event.created_at %>
  </p>
</div>
